service cloud.firestore {
  match /databases/{database}/documents {
    match /feedbacks/{feedback} {
      allow read, write: if request.auth.uid != null
    }
    match /statistics/ranking/total/{userId} {
      allow read, write: if request.auth.uid != null
    }
    match /statistics/ranking/lastFeedbackReceived/{userId} {
      allow read, write: if request.auth.uid != null
    }
    match /statistics/ranking/lastFeedbackGiven/{userId} {
      allow read, write: if request.auth.uid != null
    }
    match /statistics/ranking/avgFeedbackFrequencyGiven/{userId} {
      allow read, write: if request.auth.uid != null
    }
    match /statistics/ranking/avgFeedbackFrequencyReceived/{userId} {
      allow read, write: if request.auth.uid != null
    }
    match /statistics/ranking/feedbacksThisMonth/{userId} {
      allow read, write: if request.auth.uid != null
    }
    match /users/{userId}{
    	allow create
      allow read: if request.auth.uid != null
      allow write: if request.auth.uid != null
    }
  }
}